[include]
	path = ~/.gitconfig.me

[includeIf "gitdir:~/proj/br/"]
	path = ~/.gitconfig.br

[core]
	pager = less -+X -+F -S -R
	editor = nvim
	autocrlf = input
	fileMode = false
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[http]
	sslBackend = schannel
