set relativenumber
set number

let mapleader = " "

" All kinds of ops (from nvim):
" Write buffer:
nnoremap <silent> <leader><leader> :w<CR>
" Close buffer:
nnoremap <silent> <leader>bd :q<CR>
" Edit nvim config:
nnoremap <silent> <leader>ve :e ~/.ideavimrc<CR>
